

<div id="login">
        <h3 class="text-center text-white pt-5"></h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form name="form" (ngSubmit)="login(f)" #f="ngForm">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" name="UserName" class="form-control sty1" placeholder="Email" required ngModel>  
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input  type="password" name="Password"   class="form-control"  placeholder="Password" ngModel >  
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary px-4">Login</button> 
                            </div>
                            <div id="register-link" class="text-right">
                                <button type="button" class="btn btn-link px-0" (click)="gotoRegister()" >Register User</button>  
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
    
    
    
    
    
    <!-- <div class="container" style="padding-top:60px;">  
        <div class="row">  
          <div class="col-md-6 mx-auto">  
            <div class="card-group">  
              <div class="card p-4">  
                <div class="card-body">  
                  <form name="form" (ngSubmit)="login(f)" #f="ngForm">   
                    <h1 style="text-align:center">Login</h1>  
                     
                    <div class="input-group mb-3">  
                      <div class="input-group-prepend">  
                        <span class="input-group-text"><i class="icon-user"></i></span>  
                      </div>  
                      <input type="text" name="UserName" class="form-control sty1" placeholder="Email" required ngModel>  
                    </div>  
                    <div class="input-group mb-4">  
                      <div class="input-group-prepend">  
                        <span class="input-group-text"><i class="icon-lock"></i></span>  
                      </div>  
                      <input  type="password" name="Password"   class="form-control"  placeholder="Password" ngModel >  
                    </div>  
                    <div *ngif="isAuth">  
                        <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success" align="left">  
                          {{errorMessage}}  
                         
                        </p>  
                      </div>  
                    <div class="row">  
                      <div class="col-6">  
                        <button type="submit" class="btn btn-primary px-4">Login</button>  
                      </div>  
                      <div class="col-6 text-right">  
                        <button type="button" class="btn btn-link px-0" (click)="gotoRegister()" >Register User</button>  
                      </div>  
                    </div>  
                      
                  </form>  
                </div>  
              </div>  
            </div>  
          </div>  
        </div>  
      </div> -->